<%- include("../partials/header") %>

<div class="main-title">
    <h1 >Statistics Analysis</h1>
</div>

<div class="title-container">
    <div class="c-menu">
        <div id="list" class="items-list">
            <div class="item">
                <a href=""  rel="noopener">
                </a>
            </div>
            <div class="item">
                <a href="" rel="noopener">
                </a>
            </div>
            <div class="item">
                <a href="" rel="noopener">
                </a>
            </div>
            <div class="item">
                <a href="/queries/statistics/top_10_states" rel="noopener">
                    The top 10 states with the high accident occurrence
                </a>
            </div>
            <div class="item">
                <a href=""  rel="noopener">
                </a>
            </div>
            <div class="item">
                <a href="/queries/statistics/percentage_of_accident" rel="noopener">
                    Total/Percentage of accidents under different severity level in selected state
                </a>
            </div>
            <div class="item">
                <a href=""  rel="noopener">
                </a>
            </div>
            <div class="item">
                <a href="/queries/statistics/effect_of_visibility" rel="noopener">
                    Effect of visibility on the occurrence of accidents in the selected state
                </a>
            </div>
            <div class="item">
                <a href=""  rel="noopener">
                </a>
            </div>
            <div class="item">
                <a href="/queries/statistics/average_visibility" rel="noopener">
                    Average visibility of different severity in selected state
                </a>
            </div>
            <div class="item">
                <a href=""  rel="noopener">
                </a>
            </div>
            <div class="item">
                <a href="/queries/statistics/percentage_in_day_night" rel="noopener">
                    Percentage of accidents in day/night in selected state
                </a>
            </div>
            <div class="item">
                <a href=""  rel="noopener">
                </a>
            </div>

            <div class="item">
                <a href=""  rel="noopener">

                </a>
            </div>
            <div class="item">
                <a href=""  rel="noopener">
                </a>
            </div>
        </div>
        <div class="top"></div>
        <div class="option-btn prev" onClick="animation({}, 1);">˄</div>
        <div id="pic" class="img-box">
            <a href="/" class="btn btn-primary btn-block">Go Back</a>
        </div>
        <div class="option-btn next" onClick="animation({}, 0);">˅</div>
        <div class="bottom"></div>
    </div>
</div>
<div class="content">
</div>
<%- include("../partials/footer") %>