<%- include("../partials/header") %>

<div class="main-title">
    <h1 >Trend Analysis</h1>
</div>

<div class="title-container">
    <div class="c-menu">
        <div id="list" class="items-list">
            <div class="item">
                <a href=""  rel="noopener">
                </a>
            </div>
            <div class="item">
                <a href="" rel="noopener">
                </a>
            </div>
            <div class="item">
                <a href="" rel="noopener">
                </a>
            </div>
            <div class="item">
                <a href="/queries/trends/accident_in_state" rel="noopener">
                    Trend of accident numbers in the selected city
                </a>
            </div>
            <div class="item">
                <a href=""  rel="noopener">
                </a>
            </div>
            <div class="item">
                <a href=""  rel="noopener">
                </a>
            </div>
            <div class="item">
                <a href="/queries/trends/trend_of_more_than2" rel="noopener">
                    Trend of occurrence of high severity more than 2 at the selected city
                </a>
            </div>
            <div class="item">
                <a href=""  rel="noopener">
                </a>
            </div>
            <div class="item">
                <a href=""  rel="noopener">
                </a>
            </div>
            <div class="item">
                <a href="/queries/trends/trend_of_weather" rel="noopener">
                    The trend of accident occurrence in selected city under special weather condition with different severity level 1, 2, 3, 4
                </a>
            </div>
            <div class="item">
                <a href=""  rel="noopener">
                </a>
            </div>

            <div class="item">
                <a href=""  rel="noopener">

                </a>
            </div>
            <div class="item">
                <a href=""  rel="noopener">
                </a>
            </div>
        </div>
        <div class="top"></div>
        <div class="option-btn prev" onClick="animation({}, 1);">˄</div>
        <div id="pic" class="img-box">
            <a href="/" class="btn btn-primary btn-block">Go Back</a>
        </div>
        <div class="option-btn next" onClick="animation({}, 0);">˅</div>
        <div class="bottom"></div>
    </div>
</div>

<%- include("../partials/footer") %>