<%- include("partials/header") %>
<div class="iz ai j0" style="position: absolute;top: 50px;left: 0;width: 100%;z-index: -999;">
	<div class="j1 j2 j3 bk ek j4 j5"></div>
	<div class="j6 j2 j7 bk ek j4 j5"></div>
	<div class="j8 j2 j9 bk ek j4 j5"></div>
</div>
<header class="jumbotron big-header">
    <div class="container">
        <h1 style="font-size: 55px"><i class="fas fa-car-crash"></i> Welcome to Accident Query System</h1>
        <p>Don't learn safety from accident, but from out website</p>
    </div>
</header>
<div class="index-nav">
    <div class="row">
		<h1 class="main-title">Query Service</h1>
		<div style="margin: 90px auto 0;text-align: center">
        	<div class="form-group" id="query-index">
				<a href="queries/trends" class="mbtn btn-4"><h2>Trends Analysis</h2></a>
			</div>
        	<div class="form-group" id="query-index">
				<a href="queries/statistics" class="mbtn btn-4"><h2>Statistics Analysis</h2></a>
			</div>
        	<div class="form-group" id="query-index">
				<a href="queries/maps" class="mbtn btn-4"><h2>Show Accidents on the Map</h2></a>
			</div>
		</div>
    </div>
</div>
<%- include("partials/footer") %>

